.button {
  font-size: 14px;
  font-weight: 500;
  color: white;
  padding: 6px 14px;
  border-radius: 3px;
  border: none;
}

.red {
  background-color: #CC1439;

  &:hover {
    background-color: #FF1A47;
  }

  &:active {
    background-color: #B21232;
  }
}

.secondary {
  color: #0066CC;
  background-color: white;
  outline: #0066CC 2px solid;
  outline-offset: -2px;

  &:hover {
    background-color: #E5F0FA;
  }

  &:active {
    background-color: #C9E5FF;
  }
}

.default {
  color: black;
  background-color: #cecece;

  &:hover {
    background-color: #d9d9d9;
  }

  &:active {
    background-color: #e8e8e8;
  }
}

.disabled {
  color: #b7b7b7;
  background-color: #cecece;
  &:disabled {
  }
}
